.cart {
    margin-bottom: 25px;
    border-bottom: 1px solid $primaryColor;
    padding-bottom: 10px;

    > div {
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex-basis: 13%;

        &:nth-child(1) {
            flex-basis: 50%;
        }

        &:nth-of-type(2) {
            flex-basis: 7%;
        }

        @include smallScreen {
            flex-basis: 12%;
            font-size: .8rem;

            &:nth-of-type(2) {
                margin-left: -13px;
                flex-basis: 4%;
            }
        }
    }

    .column2 {
        margin-left: -18px;
    }

    .heading {
        border-top: 1px solid $primaryColor;
        border-bottom: 1px solid $primaryColor;
        padding: 6px 3px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: .9rem;
        font-weight: normal;
    }

    .cart-item {
        margin-bottom: 5px;
        padding: 0 3px;

        p {
            line-height: 35px;
        }
    }

    .column1 {
        display: flex;
        border: .5px solid $primaryColor;
        min-width: 137px;
        position: relative;
        padding-right: 10px;

        @include smallScreen {
            min-width: 115px;
        }

        p {
            font-size: .85rem;

            @include smallScreen {
                font-size: .8rem;
                margin-left: 3px;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .close {
            position: absolute;
            font-size: 1.05rem;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-weight: bold;
            margin-top: -1px;

            &:active, &:focus {
                transform: translateY(-50%) scale(1.2);
            }
        }
    }

    img {
        width: 28px;
        height: 28px;
        margin: 3px 5px 2px 3px;

        @include smallScreen {
            display: none;
        }
    }

    .column2 {
        position: relative;

        .controlBtn {
            position: absolute;
            font-size: 1.2rem;
            padding: 2px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            &:active, &:focus {
                transform: translateY(-50%) scale(1.2);
            }

            &.minus {
                left: -20px;
                margin-top: -1px;

                @include smallScreen {
                    left: -16px;
                }
            }

            &.plus {
                right: -22px;

                @include smallScreen {
                    right: -17px;
                }
            }
        }
    }

    .qty {
        border: .5px solid $primaryColor;
        padding: 0 11px;
    }
}